  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}

.flex-space{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.flex-center{
    @extend .flex-space;
    justify-content:center !important;
}
.small-rubik{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.illustration-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.neutral-gray{
    color:#e0e0e0 !important;
}
.big-size{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(30px,30px + 1vw,40px) !important;
    line-height: 60px;
    font-weight: 700;
}
.button{
    cursor: pointer;
    border-radius: 32px;
    padding: 14px 32px 14px 32px;
    background-color: #3671E9;
}
.learn-more-button{
    @extend .button;
    margin-top: 32px;
    width: 146px;
    &:hover{
        font-weight: bold !important;
        width: 150px;
    }
}
$global-padding:10vw;
body{
    color:white;
    position: relative;
    transition-delay: 0.5;
}
#first-page{
    overflow-x: hidden;
    padding-top: 60px;
    padding-left:$global-padding;
    padding-right:$global-padding;
    background-color: #0D0D2B;

}
header{
    i{
        display: none !important;
    }
    background-color: #0D0D2B;
    z-index: 5;
    padding-bottom: 16px;
    padding-top: 60px;
    position: fixed;
    padding-left:$global-padding;
    padding-right:$global-padding;
    @extend .flex-space;
    width: 100%;
}
.logo{
    @extend .flex-space;
    height: 40px;
    width: 135px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    div{
        &:nth-child(1){
            width: 40px;
            height: 40px;
        }
    }
}
#navigation{
    @extend .small-rubik;
    width: auto;
    @extend .flex-space;
}
#back-drop{
    background-color: #000000a1;
    display: none;
    z-index: 10;
    width: 100vh;
    height: 100%;
    position: absolute;
    top: 0px;
    transition-delay: 0.5;
}
#side-menu{
    font-family: 'Rubik', sans-serif;
    border:1px solid black;
    z-index: 100;
    position: fixed;
    background-color: #0D0D2B;
    width: 0vw;
    overflow-x: hidden;
    height: calc(100vh);
    transition: 0.3s ease-out;

    nav{
        top:50%;
        position: absolute;
        transform: translateY(-50%);
    }
    ul{
        width: 100%;
        cursor: pointer;
        flex-direction: column;
        display:flex;
         
    }
    li{
        display: block;
        margin-bottom: 30px;
        justify-content: center;
        transition: 0.1s ease-in;
    }
    .logo{
        padding-left: 20px;
        margin-top: 15px;
    }
    i{
        position: absolute;
        right: 15px;
        top: 20px;
        font-size: 24px;
        cursor: pointer;
    }
    .login-section{
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform:translateX(-50%) ;
        margin: 0px 0px 0px 0px !important;
        div:nth-child(3){
            margin-right: 0px;
        }
    }
}
nav{
    margin-left: 20px;
    width: clamp(280px,339px,30vw);
    height: 52px;
    margin-right: 55px;
    display: flex;
    align-items: center;
    ul{
        width: 100%;
        @extend .flex-space; 
        list-style-type: none;
        cursor: pointer
         
    }
    li:hover{
        color:#3671E9;
        cursor: pointer;
        font-size: 1.2em
    }
}
.login-section{
    @extend .flex-center;
    margin-left: 56px;
    width: 222px;
    height: 52px;
    div:nth-child(1){
        &:hover{
            color:#3671E9;
            cursor: pointer;
        }
    }
    .separator{
        height: 24px;
        border-left: 1px solid rgba(242, 242, 242, 0.5);
        margin-left: 24px;
        margin-right: 24px;
    }
    div:nth-child(3){
        margin-right: 48px;
        width: 130px;
        font-weight: 500;
        @extend .button
    }
}


#main-section{
    width: 100%;
    @extend .flex-space;
    position: relative;
    margin-top: 51px;
    margin-bottom: 101px;
}
#reduction{
    @extend .small-rubik;
    display: flex;
    align-items: center;
    background-color: #252540;
    padding: 4px;
    border-radius: 32px;
    margin-bottom: 24px;
    margin-top: 131px;
    width: 365px;
    box-sizing: border-box;
    height: 40px;
    div:nth-child(1){
        @extend .flex-center;
        border-radius: 32px;
        margin-right: 16px;
        font-weight: 500;
        color:black;
        background-color: white;
        width: 113px;
        height: 32px;
    }
}

#quality{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(50px, 35px + 3vw, 64px);
    line-height: 75.84px;
    font-weight: 700;
    margin-bottom: 24px;
}

#try-button{
    margin-top: 32px;
    @extend .button;
    @extend .flex-center;
    font-weight: 500;
    font-size: 18px;
    padding: 16px 16px 16px 24px!important;
    width: 202px;
    div:nth-child(2){
        background-color: white;
        margin-left: 24px;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        @extend .flex-center
    }
    i{
        color: #3671E9;
    }
}

#illustration{
    animation: float 3s ease-in-out infinite;
    width: clamp(500px,65vw,586px);
    min-width: 500px;
    height: auto;
    max-height: 585px;
    margin-top: 51px;
    margin-left: 8px;
    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}
#first-rectangle{
    max-width: 50vw;
    position: absolute;
    bottom: -150px;
    img{
        object-fit: fill;
    }
}
#second-rectangle{
    img{
        object-fit: fill;
    }
    max-width: 50vw;
    position: absolute;
    right: -150px;
    bottom: -50px;
}
#stat-section{
    font-family: 'Rubik', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    @extend .flex-space;
    .stat-item{
        align-items: center;
        width: 334px;
        height: 92px;
        display: flex;
        justify-content: flex-start;
    }
    .stat-item-icon{
        background-color: #252540;
        width: 80px;
        height: 80px;
        margin-right: 24px;
        border-radius: 50%;
        @extend .flex-center;
        i{
            color: #3671E9;
            font-size: xx-large;
        }
    }
    .stat-item-amount{
        margin-bottom: 4px;
        @extend .big-size;
    }
    .stat-item-desc{
        @extend .neutral-gray;
        @extend .small-rubik
    }
}

#why-section{
    margin-bottom: 100px;
    @extend .flex-space;
    width: 100%;
    #illustration-container{
        animation: float 3s ease-in-out infinite;
        width: 650px;
        height: 473px;
        margin-right: 70px;
    }
    #why-section-text{
        div:nth-child(1){
            @extend .big-size;
            margin-bottom: 24px;
        }
    }
}
#check-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#check-section{
    margin-bottom: 210px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div:first-child{
        @extend .big-size;
        margin-bottom: 24px;
    }
    div:nth-child(2){
        width: 35vw;
    }
}


#trade-section{
    #card{
        margin-top: -155px;
        margin-bottom: 100px;
        z-index: 5;
        width: 60vw;
        padding:48px;
        background-color: white;
        font-family: 'Rubik', sans-serif;
        border-radius: 16px;
        filter:(0px 20px 200px rgba(57, 23, 119, 0.05));
        #input-section{
            @extend .flex-space;
            margin-bottom: 100px;
            input{
                padding-bottom: 8px;
                border:none;
                outline: 0;
                border-bottom:1px solid rgba(224, 224, 224, 1);
                width: 100%;
                font-family: 'Rubik', sans-serif;
                font-size: 20px;
                color:black;
                &::placeholder{
                    font-family: 'Rubik', sans-serif;
                    font-size: 20px;
                    color:black;
                }
            }
            select{
                max-width: 200px;
                width: 30%;
                padding-bottom: 8px;
                border:none;
                outline: 0;
                width: 30.66vw;
                font-family: 'Rubik', sans-serif;
                font-size: 20px;
                margin-bottom: 2px;
                border-bottom:1px solid rgba(224, 224, 224, 1);
            }
            
            div:nth-child(3){
                height: 59px;
                @extend .flex-center;
                margin-left: 2px;
    
            }
            div:nth-child(1){
                margin-right: 2px;
                width: 55%;
            }
        }
        #estimation-section{
            text-align: left;
            div{
                margin-bottom: 16px;
                &:nth-child(1){
                   color:#3671E9;
                   font-weight: 500;
                   font-size: 16px;
                }
                &:nth-child(2){
                    font-weight: 700;
            font-size: clamp(26px,22px + 1vw,32px) !important;
                    color: black;
                    span{
                        color:#3671E9;
                    }
                }
                &:nth-child(3){
                    font-size: 16px;
                    color:rgba(130, 130, 130, 1);
                }
            }
        }
    
    }
    position: relative;
    z-index: 2;
    text-align: center;
    padding-left:$global-padding;
    padding-right:$global-padding;
    span{
        width: 60vw;
    }
    #currency-container{
    
       margin-bottom: 100px;
       width: 100%;
       @extend .flex-space;
       flex-wrap: wrap;
       margin-top: 64px
    }
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9fafd;
    span{
        color: rgba(13, 13, 43, 1);
        @extend .big-size;
    }
    .currency{
        padding:48px;
        border-radius: 16px;
        width: 23vw;
        min-width:300px ;
        @extend .flex-center;
        flex-direction: column;
        background-color: white;
        &:hover{
            background-color: rgba(43, 7, 110, 1);
            
            .currency-name,.currency-description{
                color:white
            }
        }
    }
    .currency-logo{
        @extend .flex-center;
        margin-bottom: 48px;
        width: 80px;
        height: 80px;
        i{
            font-size: xx-large;
        }
    }
    #eth{
        i{
            color:white;
        }
        border-radius: 50%;
        background-color: #1181E8;
    }
    #ltc{
        i{
            font-weight: bolder;
            color:white
        }
        border-radius: 50%;
        background-color: #59C19C;
    }
    .currency-name{
        color:#0D0D2B;
        font-family: 'Rubik', sans-serif;
            font-size: clamp(26px,22px + 1vw,32px) !important;
        font-weight: 700;
        display: flex;
        margin-bottom: 16px;
        .currency-symbol{
            margin-left: 8px;
            margin-top: 8px;
            font-weight: 500;
            font-size: 18px;
            color: rgba(189, 189, 189, 1);

        }
    }
    .currency-description{
        color:rgba(130, 130, 130, 1);
        margin-bottom: 25px ;
        font-size: 16px;
    }

    .start-button{
        border: 2px solid rgba(43, 7, 110,0.3);
        @extend .flex-center;
        height: 64px;
        width: 64px;
        background-color: white;
        border-radius: 50%;
        i{
            font-size: x-large;
            color:#3671E9;

        }
    }


    .start-button-activated{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 205px;
        @extend .button;
        background-color: transparent !important;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        div:first-child{
            display: none;
            transition: 0.4s ease-in;

        }
        div:nth-child(2){
            position: absolute;
            top: 50%;
            left:50%;
            transform: translateX(-50%) translateY(-50%);
            transition: 0.3s ease-out;
        }
    }
    .start-button-activated:hover{
        background-color: inherit ;
        justify-content: space-between;
        padding: 16px 16px 16px 24px;
        background-color: #3671E9 !important;
        div:first-child{
            display: block;
        }
        div:nth-child(2){
            transform: translateX(100%) translateY(-50%);
            border: 1px solid rgba(43, 7, 110,0.3);
            height: 40px;
            width: 40px;
        }
    
    }
    
}


#market-section{
    z-index: 1;
    #background-cercle{
        width: 6vw;
        height: 6vw;
        min-width: 300px;
        min-height: 300px;
        left:13vw ;
        top:-200px;
        border-radius: 50%;
        background-color: rgb(55, 20, 118,0.4);
        position: absolute;
    }
    padding-left: $global-padding;
    padding-right: $global-padding;
    background-color: #2B076E;
    padding-top: 100px;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction:column;
    align-items: center;
    h3{
        margin-bottom: 100px;
        max-width: 758px;
    }

    #invest-smart-section{
        display: flex;
        margin-bottom: 250px;
    }
    .market-section-explanation{
        text-align: left;
        max-width: 454px;
        line-height: 28px;
        div:nth-child(2){
                @extend .small-rubik;
                max-width: 408px;
                margin-top: 24px;
    
        }
    }
    #invest-smart-section-figure{
        font-family: 'Inter', sans-serif;
        padding: 40px;
        background-color: #35068C;
        height: 298px;
        min-width: 500px;
        width: 50vw;
        margin-left: 146px;
        border-radius: 16px;
        position: relative;
    }
    #figure-header{
        @extend .flex-space;
        margin-bottom: 24px;
        #bitcoin-section{
            display: flex;
            width: 155px;
        }
        #btc-img{
            img{
              width: 40px ;
              height: 40px;
            }
        }
        #btc-value{
            margin-left: 16px;
            text-align: left;
            div:nth-child(1){
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 4px;
                display: flex;
                span{
                    font-size: 16px;
                    font-weight: 600;
                    color: rgba(207, 207, 207, 1);
                    margin-left: 5px;
                    margin-top: 5px;

                }
            }
            div:nth-child(2){
                color:#F2F2F2;
                font-size: 14px;
                font-weight: 400;
            }
        }
        #percent{
            font-size: 14px;
            font-weight: 500;
            color: rgba(66, 255, 255, 1);
        }

    }
    #graphiq-image{
        width: 100%;
        height: 136px;
        img{
            object-fit:fill;
            width: 100%;
            height: 100%;
        }
    }

    #progress-percent{
        border-radius: 16px;
        position: absolute;
        left: 64px;
        bottom: -126px;
        height: 184px;
        max-width: 178px;
        background-color: #491F98;
        padding: 24px 16px 24px 16px;;
        div:nth-child(1){
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 16px;
        }
        div:nth-child(2){
            font-weight: 700;
            margin-bottom: 16px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size:large;
                margin-left: 7px;
                color:#FD8589;
            }
        }
        div:nth-child(3){
            font-weight: 400px;
            font-size: 16px;
        }
    }
    #price{
        border-radius: 16px;
        position: absolute;
        bottom: -41px;
        right:78px;
        height: 84px;
        background-color: #491F98;
        padding: 16px 32px 16px 32px;
        div:nth-child(1){
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 4px;
        }
        div:nth-child(3){
            font-weight: 400;
            font-size: 16px;
        }
    }

}
#detailed-statistics-section{
    display: flex;
    .detailed-statistics-session{
        margin-left: 91px;
    }
    #detailed-statistics-section-figure{
        position: relative;
        min-width: 600px;
        width: 62vw;
    }
    #detailled-statistic-figure-header{
        
        padding-right: 100px;
        border-radius: 0px 16px 16px 0px;
        text-align: left;
        justify-content: space-between;
        display: flex;
        align-items: center;
        background-color: #35068C;
        width: 100%;
        padding: 16px 16px 16px 16px;
        height: 100px;
        margin-bottom: 16px;
        #trends{
            display: flex;
            #trends-icon{
                margin-right: 10px;
                height: 24px;
                width: 24px;
                font-size: small;
                @extend .flex-center;
                border-radius: 50%;
                background-color: #361f98;
                color: #42ffff;
                margin-top: -2px;
            }
            #trends-percent{
                div:nth-child(1){
                    font-family: 'Rubik',sans-serif;
                    font-size: 18px;
                    margin-bottom: 6px;
                }
                span{
                    font-weight: 500;
                    color: #42ffff;
                }
                div:nth-child(2){
                    @extend .small-rubik;
                    font-size: 14px;
                }
            }
        }
        .detailled-statistic-item{
            
            div:nth-child(1){
                font-weight: 500;
                font-family: 'Rubik',sans-serif;
                font-size: 18px;
                margin-bottom: 8px;
            }
            div:nth-child(2){
                @extend .small-rubik;
                font-size: 14px;
                color:#e0e0e0;
            }
            &:nth-child(5){
                display: flex;
                align-items: center;
                font-weight: 700 !important;
                #avatar{
                    margin-top: 8px;
                    width: 65px ;
                    height: 65px;
                    border-radius: 50%;
                    margin-right: 16px;
                    img{
                        border-radius: 50%;
                    }
                }
                #avatar-name{
                    font-size: 28px;
                    font-family: 'Inter',sans-serif;
                    div:nth-child(2){
                        color: #6edcb5;
                    }
                }
            }
        }
    }
    #detailed-statistics-figure-header-2{
        text-align: left;
        padding: 24px 24px 16px 24px;
        padding-top: 24px;
        padding-right: 24px;
        @extend .flex-space;
        background-color: #35068C;
        border-radius: 0px 16px 0px 0px ;
        #symbol{
            display: flex;
            align-items: center;
            div:nth-child(1){
                font-size: 18px;
                margin-right: 10px;
                font-weight: 700;
            }
            div:nth-child(2){
                height: 24px;
                width: 24px;
                font-size: small;
                @extend .flex-center;
                border-radius: 50%;
                background-color: #361f98;
            }
        }
        #buy-sell-button{
            @extend .flex-space;
            div{
                @extend .button;
                font-size: 16px !important;
            }
            div:nth-child(1){
                background-color: #6edcb5;
                margin-right: 24px;
            }
            div:nth-child(2){
                background-color: #ff325f;
            } 
        }
    }
    #detailed-statistics-figure{
        background-color: #35068C;
        padding:0px 24px 0px 16px ;
        width: 100%;
        height: 350px;
        img{
            object-fit:fill;
            width: 100%;
            height: 100%;
        }
    }
    #last-price{
        margin-right: 50px ;
    }
    .detailed-statistics-figure-header-2-item{
        
        font-family: 'Rubik',sans-serif;
        position: relative;
        div:nth-child(1){
            font-size: 18px;
            margin-bottom: 8px;
        }
        div:nth-child(2){
            @extend .neutral-gray;
            font-size: 14px;
        } 
        div:nth-child(3){
            color: #42ffff;
            top: 50%;
            left: 80px;
            position:absolute;
            transform: translateY(-50%) ;
        } 
    }
}

#grow-profit-section{
    position: relative;
    border-radius: 16px;
    @extend .flex-space;
    margin-top: 129px;
    margin-bottom: 129px;
    
    #grow-profit-section-figure{
        margin-left: 110px;
        min-width: 400px;
        width: 53vw;
        font-family: 'Inter',sans-serif;
        font-weight: 400;
        padding: 40px 0px 40px 0px;
        background-color: #35068C;
        border-radius:16px;

    }
    .grow-profit-section-figure-stat{
        line-height: 19.36px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:nth-child(2){
            width: 100%;
            padding: 16px 0px 16px 10px;
            background-color: #4610AD;
            border-radius: 16px;
            margin-left: -72px;
            margin-bottom: 24px;
            margin-top: 24px;
            align-items: center;
        }
    }
    .bitcoin-logo{
        margin-top: 35px;
    }
 
    .grow-profit-section-figure-logo{
        display: flex;
        align-items: center;
        img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
        .logo-container{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            @extend .flex-center;
        
        i{
            font-size: x-large;
        }
        
     }
     .eth-container{
        background-color: #6374C3;
     }
     .ltc-container{
         background-color: #59C19C; 
      }
        .currency-name{
            text-align: left;
            font-weight: 700;
            margin-left: 16px;
            font-size: clamp(26px,22px + 1vw,32px) !important;
            div{
                color:#F2F2F2;
                font-size: 16px;
                margin-top: 8px;
            }
        }
    }
    .carret-container{
        display: flex;
        align-items: center;
        color: #8FFFBE;
        div{
            margin-right: 8px;
            background-color: rgba(143, 255, 190,0.1);
            @extend .flex-center;
            width: 16px;
            height: 16px;
            font-size: x-small;
            border-radius: 50%;
        }
    }

    .danger{
        color: #FF7676 !important;
        div{
            background-color: rgba(255, 118, 118,0.1) !important;
        }
    }
    .currency-details{
        text-align: left;
        margin-bottom: 14px;
        font-weight: 400;
        span{
            font-weight: 600;
            display: block !important;
            margin-bottom: 30px;
        }
    }
}

#subscribe-section-container{
    height: 392px;
    width: 100%;
    @extend .flex-center;
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
}
#subscribe-section{
    background-color: #3671E9;
    min-height: 216px;
    width: 83vw;
    padding: 48px;
    text-align: left;
    border-radius: 16px;
    @extend .flex-space;
    #subscribe-now-section{
        max-width: 348px;
        div:nth-child(1){
            @extend .big-size;
            font-size: 32px !important;
            margin-bottom: 16px;
        }
        div:nth-child(2){
            @extend .small-rubik;
        }
    }
    
    input::placeholder{
        @extend .small-rubik;
        padding-left: 0px;
        color: white;
    }
    input{
        caret-color: white;
        @extend .small-rubik;
        color: white;
        width: 375px;
        border: none;
        border-bottom:1px solid rgba(224, 224, 224, 1);
        padding-bottom: 8px;
        outline: none;
        background-color: transparent;
    }
    #subscribe-button{
        @extend .flex-space;
        max-width: 556px;
        div {
            margin-left: 40px;
            width: 152px;
            height: 55px;
            background-color: white;
            color: black;
            padding: 14px 32px 14px 32px;
            border-radius: 32px;
            font-weight: 500;
            font-size: 18px;
            font-family: 'Rubik',sans-serif;
        }
    }
}
footer{
    #footer-item-list-container{
        display: flex;
        align-items: center;
    }

    margin: 0px !important;
    padding:80px $global-padding 80px $global-padding ;
    background-color: #0D0D2B;
    font-family: 'Rubik',sans-serif;
    text-align: left;
   &>div:first-child{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
   } 
   .footer-item-list{
    width: 200px;
     h6{
        margin-top: 8px;
        font-size: 20px;
        font-weight: 30px;
        margin-bottom: 24px;
        font-weight: 500;
     }
     div{
        :hover{
            color:#3671E9;
            cursor: pointer;
        }
        @extend .neutral-gray;
        margin-bottom: 16px;
     }
   }
   #payment-section{
    font-weight: 500;
            font-size: clamp(26px,22px + 1vw,32px) !important;
    width: 355px;
    #payment-mode{
        @extend .flex-space;
        margin-top: 40PX;
        div{
            width: 96px;
            height: 84px;
            border-radius: 16px;
            background-color: #181834;
            @extend .flex-center
        }
    }
   }
   .footer-social-media{
    margin-top: 120px;
    @extend .flex-space;
    div:nth-child(2){
        width: 150px;
        @extend .flex-space;
    }
    i{
        color: white;
    }
    i:hover{
        color: #1181E8;
        font-size: larger;
    }
   }
}

@media (max-width:1000px){
    #grow-profit-section,#main-section,#stat-section,#invest-smart-section,#why-section{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .market-section-explanation{
        margin-left: 0px !important;
        margin-right: 0px !important;
        display: flex;
        flex-direction:column;
        text-align: center !important;
        justify-content: center;
        align-items: center;
    }
    #detailed-statistics-section{
        flex-wrap: wrap-reverse;
        justify-content: center !important;
    }
    
    #stat-section,#illustration{
        margin-bottom: 0px;
    }
    .stat-item{
        margin-bottom: 24px;
    }
    
    #illustration-container{
        margin-bottom: 24px;
    }
    #currency-container{
        justify-content: center !important;
        .currency{
            margin-bottom: 24px;
        }
    }
    #invest-smart-section-figure,#detailed-statistics-section-figure,#grow-profit-section-figure{
        margin-left: 0px !important;
        margin-top: 50px ;
    }
    #payment-section{
        margin-top: 50px;
    }
    #subscribe-section{
        width: 492px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        #subscribe-button{
            margin-top: 50px;
            width: 375px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            div{
                margin-top: 50px;
            }
        }
    }
    #navigation{
        display: none;
    }
    header i{
        cursor: pointer;
        display: block !important;
        font-size: 32px;
    }
}