@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Rubik:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

.flex-space, #market-section #figure-header, #trade-section #currency-container, #card #input-section, #why-section, #stat-section, #main-section, nav ul, #navigation, #logo, header, .flex-center, #trade-section .start-button, #trade-section .currency-logo, #trade-section .currency, #card #input-section div:nth-child(3), #stat-section .stat-item-icon, #stat-section .stat-item, #try-button div:nth-child(2), #try-button, #reduction div:nth-child(1), #login-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center, #trade-section .start-button, #trade-section .currency-logo, #trade-section .currency, #card #input-section div:nth-child(3), #stat-section .stat-item-icon, #stat-section .stat-item, #try-button div:nth-child(2), #try-button, #reduction div:nth-child(1), #login-section {
  justify-content: center !important;
}

.small-rubik, #market-section .market-section-explanation div:nth-child(2), #stat-section .stat-item-desc, #reduction, #navigation {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.illustration-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.neutral-gray, #stat-section .stat-item-desc {
  color: #e0e0e0 !important;
}

.big-size, #trade-section span, #check-section div:first-child, #why-section #why-section-text div:nth-child(1), #stat-section .stat-item-amount {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}

.button, #trade-section .start-button-activated, #try-button, #login-section div:nth-child(3), .learn-more-button {
  border-radius: 32px;
  padding: 14px 32px 14px 32px;
  background-color: #3671E9;
}

.learn-more-button {
  margin-top: 32px;
  width: 146px;
}

body {
  color: white;
  position: relative;
}

#first-page {
  padding-top: 60px;
  padding-left: 6vw;
  padding-right: 6vw;
  background-color: #0D0D2B;
}

header {
  width: 100%;
}

#logo {
  height: 40px;
  width: 135px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
#logo div:nth-child(1) {
  width: 40px;
  height: 40px;
}

#navigation {
  width: auto;
}

nav {
  width: 339px;
  height: 52px;
  margin-right: 55px;
}
nav ul {
  list-style-type: none;
  cursor: pointer;
}
nav li:hover {
  color: #3671E9;
}

#login-section {
  margin-left: 56px;
  width: 222px;
  height: 52px;
}
#login-section div:nth-child(1):hover {
  color: #3671E9;
}
#login-section .separator {
  height: 24px;
  border-left: 1px solid rgba(242, 242, 242, 0.5);
  margin-left: 24px;
  margin-right: 24px;
}
#login-section div:nth-child(3) {
  margin-right: 48px;
  width: 130px;
  font-weight: 500;
}

#main-section {
  width: 100%;
  position: relative;
  margin-top: 51px;
  margin-bottom: 101px;
}

#reduction {
  display: flex;
  align-items: center;
  background-color: #252540;
  padding: 4px;
  border-radius: 32px;
  margin-bottom: 24px;
  margin-top: 131px;
  width: 365px;
  box-sizing: border-box;
  height: 40px;
}
#reduction div:nth-child(1) {
  border-radius: 32px;
  margin-right: 16px;
  font-weight: 500;
  color: black;
  background-color: white;
  width: 113px;
  height: 32px;
}

#quality {
  font-family: "Rubik", sans-serif;
  font-size: 64px;
  line-height: 75.84px;
  font-weight: 700;
  margin-bottom: 24px;
}

#try-button {
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
  padding: 16px 16px 16px 24px !important;
  width: 202px;
}
#try-button div:nth-child(2) {
  background-color: white;
  margin-left: 24px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
#try-button i {
  color: #3671E9;
}

#illustration {
  width: 604px;
  height: 585px;
  margin-top: 51px;
  margin-left: 8px;
}

#first-rectangle {
  position: absolute;
  bottom: -150px;
}

#stat-section {
  font-family: "Rubik", sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}
#stat-section .stat-item {
  width: 334px;
  height: 92px;
}
#stat-section .stat-item-icon {
  background-color: #252540;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  border-radius: 50%;
}
#stat-section .stat-item-icon i {
  color: #3671E9;
  font-size: xx-large;
}
#stat-section .stat-item-amount {
  margin-bottom: 4px;
}
#why-section {
  margin-bottom: 100px;
  width: 100%;
}
#why-section #illustration-container {
  width: 650px;
  height: 473px;
  margin-right: 70px;
}
#why-section #why-section-text div:nth-child(1) {
  margin-bottom: 24px;
}

#check-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#check-section {
  width: 100%;
  text-align: center;
}
#check-section div:first-child {
  margin-bottom: 24px;
}

#card {
  margin-bottom: -216px;
  position: relative;
  max-width: 942px;
  width: 70vw;
  margin-top: 64px;
  background-color: white;
  font-family: "Rubik", sans-serif;
  border-radius: 16px;
  box-shadow: 0 20 2000 rgba(57, 23, 119, 0.05);
  filter: 0px 20px 200px rgba(57, 23, 119, 0.05);
}
#card #input-section {
  padding: 48px;
}
#card #input-section input {
  padding-bottom: 8px;
  max-width: 403px;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 30.66vw;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: black;
}
#card #input-section input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: black;
}
#card #input-section select {
  max-width: 200px;
  width: 12.73vh;
  padding-bottom: 8px;
  border: none;
  outline: 0;
  width: 30.66vw;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
#card #input-section div:nth-child(3) {
  max-width: 147px;
  height: 59px;
}
#card #estimation-section {
  padding: 48px;
  text-align: left;
}
#card #estimation-section div {
  margin-bottom: 16px;
}
#card #estimation-section div:nth-child(1) {
  color: #3671E9;
  font-weight: 500;
  font-size: 16px;
}
#card #estimation-section div:nth-child(2) {
  font-weight: 700;
  font-size: 32px;
  color: black;
}
#card #estimation-section div:nth-child(2) span {
  color: #3671E9;
}
#card #estimation-section div:nth-child(3) {
  font-size: 16px;
  color: rgb(130, 130, 130);
}

#trade-section {
  text-align: center;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 316px;
  background-color: #f9fafd;
}
#trade-section #currency-container {
  margin-bottom: 100px;
  width: 100%;
  padding-inline: 6vw;
  margin-top: 64px;
}
#trade-section span {
  color: rgb(13, 13, 43);
}
#trade-section .currency {
  padding: 48px;
  border-radius: 16px;
  width: 370px;
  flex-direction: column;
  background-color: white;
}
#trade-section .currency:hover {
  background-color: rgb(43, 7, 110);
}
#trade-section .currency:hover .currency-name, #trade-section .currency:hover .currency-description {
  color: white;
}
#trade-section .currency-logo {
  margin-bottom: 48px;
  width: 80px;
  height: 80px;
}
#trade-section .currency-logo i {
  font-size: xx-large;
}
#trade-section #eth {
  border-radius: 50%;
  background-color: #1181E8;
}
#trade-section #eth i {
  color: white;
}
#trade-section #ltc {
  border-radius: 50%;
  background-color: #59C19C;
}
#trade-section #ltc i {
  font-weight: bolder;
  color: white;
}
#trade-section .currency-name {
  color: #0D0D2B;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  margin-bottom: 16px;
}
#trade-section .currency-name .currency-symbol {
  margin-left: 8px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 18px;
  color: rgb(189, 189, 189);
}
#trade-section .currency-description {
  color: rgb(130, 130, 130);
  margin-bottom: 25px;
  font-size: 16px;
}
#trade-section .start-button {
  border: 2px solid rgba(43, 7, 110, 0.2);
  height: 64px;
  width: 64px;
  background-color: white;
  border-radius: 50%;
}
#trade-section .start-button i {
  font-size: x-large;
  color: #3671E9;
}
#trade-section .start-button-activated {
  width: 205px;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  padding: 16px 16px 16px 24px;
}
#trade-section .start-button-activated .start-button {
  border: none;
  height: 32px;
  width: 32px;
  margin-left: 24px;
}
#trade-section .start-button-activated .start-button i {
  font-size: small;
}

#market-section {
  padding-left: 6vw;
  background-color: #2B076E;
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#market-section h3 {
  margin-bottom: 100px;
  max-width: 758px;
}
#market-section #invest-smart-section {
  display: flex;
  margin-bottom: 250px;
}
#market-section .market-section-explanation {
  text-align: left;
}
#market-section .market-section-explanation div:nth-child(2) {
  max-width: 408px;
  margin-top: 24px;
}
#market-section #invest-smart-section-figure {
  font-family: "Inter", sans-serif;
  padding: 40px;
  background-color: #35068C;
  height: 298px;
  max-width: 580px;
  margin-left: 146px;
  border-radius: 16px;
  position: relative;
}
#market-section #figure-header {
  margin-bottom: 24px;
}
#market-section #figure-header #bitcoin-section {
  display: flex;
  width: 155px;
}
#market-section #figure-header #btc-img img {
  width: 40px;
  height: 40px;
}
#market-section #figure-header #btc-value {
  margin-left: 16px;
  text-align: left;
}
#market-section #figure-header #btc-value div:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  display: flex;
}
#market-section #figure-header #btc-value div:nth-child(1) span {
  font-size: 16px;
  font-weight: 600;
  color: rgb(207, 207, 207);
  margin-left: 5px;
  margin-top: 5px;
}
#market-section #figure-header #btc-value div:nth-child(2) {
  color: #F2F2F2;
  font-size: 14px;
  font-weight: 400;
}
#market-section #figure-header #percent {
  font-size: 14px;
  font-weight: 500;
  color: rgb(66, 255, 255);
}
#market-section #graphiq-image {
  max-width: 500px;
  height: 136px;
}
#market-section #progress-percent {
  border-radius: 16px;
  position: absolute;
  left: 64px;
  bottom: -126px;
  height: 184px;
  max-width: 178px;
  background-color: #491F98;
  padding: 24px 16px 24px 16px;
}
#market-section #progress-percent div:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
#market-section #progress-percent div:nth-child(2) {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#market-section #progress-percent div:nth-child(2) i {
  font-size: large;
  margin-left: 7px;
  color: #FD8589;
}
#market-section #progress-percent div:nth-child(3) {
  font-weight: 400px;
  font-size: 16px;
}
#market-section #price {
  border-radius: 16px;
  position: absolute;
  bottom: -41px;
  right: 78px;
  height: 84px;
  background-color: #491F98;
  padding: 16px 32px 16px 32px;
}
#market-section #price div:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 4px;
}
#market-section #price div:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
}

#detailed-statistics-section {
  display: flex;
}
#detailed-statistics-section #detailled-statistic-figure-header {
  display: flex;
}

/*# sourceMappingURL=crappos.css.map */
