@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
.flex-space, footer .footer-social-media div:nth-child(2), footer .footer-social-media, footer #payment-section #payment-mode, #subscribe-section #subscribe-button, #subscribe-section, #grow-profit-section, #detailed-statistics-section #detailed-statistics-figure-header-2 #buy-sell-button, #detailed-statistics-section #detailed-statistics-figure-header-2, #market-section #figure-header, #trade-section #currency-container, #trade-section #card #input-section, #why-section, #stat-section, #main-section, nav ul, #navigation, .logo, header, .flex-center, footer #payment-section #payment-mode div, #subscribe-section-container, #grow-profit-section .carret-container div, #grow-profit-section .grow-profit-section-figure-logo .logo-container, #detailed-statistics-section #detailed-statistics-figure-header-2 #symbol div:nth-child(2), #detailed-statistics-section #detailled-statistic-figure-header #trends #trends-icon, #trade-section .start-button, #trade-section .currency-logo, #trade-section .currency, #trade-section #card #input-section div:nth-child(3), #stat-section .stat-item-icon, #try-button div:nth-child(2), #try-button, #reduction div:nth-child(1), #login-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center, footer #payment-section #payment-mode div, #subscribe-section-container, #grow-profit-section .carret-container div, #grow-profit-section .grow-profit-section-figure-logo .logo-container, #detailed-statistics-section #detailed-statistics-figure-header-2 #symbol div:nth-child(2), #detailed-statistics-section #detailled-statistic-figure-header #trends #trends-icon, #trade-section .start-button, #trade-section .currency-logo, #trade-section .currency, #trade-section #card #input-section div:nth-child(3), #stat-section .stat-item-icon, #try-button div:nth-child(2), #try-button, #reduction div:nth-child(1), #login-section {
  justify-content: center !important;
}

.small-rubik, #subscribe-section input, #subscribe-section input::placeholder, #subscribe-section #subscribe-now-section div:nth-child(2), #detailed-statistics-section #detailled-statistic-figure-header .detailled-statistic-item div:nth-child(2), #detailed-statistics-section #detailled-statistic-figure-header #trends #trends-percent div:nth-child(2), #market-section .market-section-explanation div:nth-child(2), #stat-section .stat-item-desc, #reduction, #navigation {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.illustration-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.neutral-gray, footer .footer-item-list div, #detailed-statistics-section .detailed-statistics-figure-header-2-item div:nth-child(2), #stat-section .stat-item-desc {
  color: #e0e0e0 !important;
}

.big-size, #subscribe-section #subscribe-now-section div:nth-child(1), #trade-section span, #check-section div:first-child, #why-section #why-section-text div:nth-child(1), #stat-section .stat-item-amount {
  font-family: "Rubik", sans-serif;
  font-size: clamp(30px, 30px + 1vw, 40px) !important;
  line-height: 60px;
  font-weight: 700;
}

.button, #detailed-statistics-section #detailed-statistics-figure-header-2 #buy-sell-button div, #trade-section .start-button-activated, #try-button, #login-section div:nth-child(3), .learn-more-button {
  cursor: pointer;
  border-radius: 32px;
  padding: 14px 32px 14px 32px;
  background-color: #3671E9;
}

.learn-more-button {
  margin-top: 32px;
  width: 146px;
}
.learn-more-button:hover {
  font-weight: bold !important;
  width: 150px;
}

body {
  color: white;
  position: relative;
}

#first-page {
  overflow-x: hidden;
  padding-top: 60px;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #0D0D2B;
}

header {
  width: 100%;
}

.logo {
  height: 40px;
  width: 135px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
.logo div:nth-child(1) {
  width: 40px;
  height: 40px;
}

#navigation {
  width: auto;
}

nav {
  margin-left: 20px;
  width: clamp(280px, 339px, 30vw);
  height: 52px;
  margin-right: 55px;
  display: flex;
  align-items: center;
}
nav ul {
  width: 100%;
  list-style-type: none;
  cursor: pointer;
}
nav li:hover {
  color: #3671E9;
  cursor: pointer;
}

#login-section {
  margin-left: 56px;
  width: 222px;
  height: 52px;
}
#login-section div:nth-child(1):hover {
  color: #3671E9;
  cursor: pointer;
}
#login-section .separator {
  height: 24px;
  border-left: 1px solid rgba(242, 242, 242, 0.5);
  margin-left: 24px;
  margin-right: 24px;
}
#login-section div:nth-child(3) {
  margin-right: 48px;
  width: 130px;
  font-weight: 500;
}

#main-section {
  width: 100%;
  position: relative;
  margin-top: 51px;
  margin-bottom: 101px;
}

#reduction {
  display: flex;
  align-items: center;
  background-color: #252540;
  padding: 4px;
  border-radius: 32px;
  margin-bottom: 24px;
  margin-top: 131px;
  width: 365px;
  box-sizing: border-box;
  height: 40px;
}
#reduction div:nth-child(1) {
  border-radius: 32px;
  margin-right: 16px;
  font-weight: 500;
  color: black;
  background-color: white;
  width: 113px;
  height: 32px;
}

#quality {
  font-family: "Rubik", sans-serif;
  font-size: clamp(50px, 35px + 3vw, 64px);
  line-height: 75.84px;
  font-weight: 700;
  margin-bottom: 24px;
}

#try-button {
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
  padding: 16px 16px 16px 24px !important;
  width: 202px;
}
#try-button div:nth-child(2) {
  background-color: white;
  margin-left: 24px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
#try-button i {
  color: #3671E9;
}

#illustration {
  animation: float 3s ease-in-out infinite;
  width: clamp(500px, 65vw, 586px);
  min-width: 500px;
  height: auto;
  max-height: 585px;
  margin-top: 51px;
  margin-left: 8px;
}
#illustration img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#first-rectangle {
  max-width: 50vw;
  position: absolute;
  bottom: -150px;
}
#first-rectangle img {
  object-fit: fill;
}

#second-rectangle {
  max-width: 50vw;
  position: absolute;
  right: -150px;
  bottom: -50px;
}
#second-rectangle img {
  object-fit: fill;
}

#stat-section {
  font-family: "Rubik", sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}
#stat-section .stat-item {
  align-items: center;
  width: 334px;
  height: 92px;
  display: flex;
  justify-content: flex-start;
}
#stat-section .stat-item-icon {
  background-color: #252540;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  border-radius: 50%;
}
#stat-section .stat-item-icon i {
  color: #3671E9;
  font-size: xx-large;
}
#stat-section .stat-item-amount {
  margin-bottom: 4px;
}
#why-section {
  margin-bottom: 100px;
  width: 100%;
}
#why-section #illustration-container {
  animation: float 3s ease-in-out infinite;
  width: 650px;
  height: 473px;
  margin-right: 70px;
}
#why-section #why-section-text div:nth-child(1) {
  margin-bottom: 24px;
}

#check-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#check-section {
  margin-bottom: 210px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#check-section div:first-child {
  margin-bottom: 24px;
}
#check-section div:nth-child(2) {
  width: 35vw;
}

#trade-section {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fafd;
}
#trade-section #card {
  margin-top: -155px;
  margin-bottom: 100px;
  z-index: 5;
  width: 60vw;
  padding: 48px;
  background-color: white;
  font-family: "Rubik", sans-serif;
  border-radius: 16px;
  filter: 0px 20px 200px rgba(57, 23, 119, 0.05);
}
#trade-section #card #input-section {
  margin-bottom: 100px;
}
#trade-section #card #input-section input {
  padding-bottom: 8px;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: black;
}
#trade-section #card #input-section input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: black;
}
#trade-section #card #input-section select {
  max-width: 200px;
  width: 30%;
  padding-bottom: 8px;
  border: none;
  outline: 0;
  width: 30.66vw;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-bottom: 2px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
#trade-section #card #input-section div:nth-child(3) {
  height: 59px;
  margin-left: 2px;
}
#trade-section #card #input-section div:nth-child(1) {
  margin-right: 2px;
  width: 55%;
}
#trade-section #card #estimation-section {
  text-align: left;
}
#trade-section #card #estimation-section div {
  margin-bottom: 16px;
}
#trade-section #card #estimation-section div:nth-child(1) {
  color: #3671E9;
  font-weight: 500;
  font-size: 16px;
}
#trade-section #card #estimation-section div:nth-child(2) {
  font-weight: 700;
  font-size: clamp(26px, 22px + 1vw, 32px) !important;
  color: black;
}
#trade-section #card #estimation-section div:nth-child(2) span {
  color: #3671E9;
}
#trade-section #card #estimation-section div:nth-child(3) {
  font-size: 16px;
  color: rgb(130, 130, 130);
}
#trade-section span {
  width: 60vw;
}
#trade-section #currency-container {
  margin-bottom: 100px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 64px;
}
#trade-section span {
  color: rgb(13, 13, 43);
}
#trade-section .currency {
  padding: 48px;
  border-radius: 16px;
  width: 23vw;
  min-width: 300px;
  flex-direction: column;
  background-color: white;
}
#trade-section .currency:hover {
  background-color: rgb(43, 7, 110);
}
#trade-section .currency:hover .currency-name, #trade-section .currency:hover .currency-description {
  color: white;
}
#trade-section .currency-logo {
  margin-bottom: 48px;
  width: 80px;
  height: 80px;
}
#trade-section .currency-logo i {
  font-size: xx-large;
}
#trade-section #eth {
  border-radius: 50%;
  background-color: #1181E8;
}
#trade-section #eth i {
  color: white;
}
#trade-section #ltc {
  border-radius: 50%;
  background-color: #59C19C;
}
#trade-section #ltc i {
  font-weight: bolder;
  color: white;
}
#trade-section .currency-name {
  color: #0D0D2B;
  font-family: "Rubik", sans-serif;
  font-size: clamp(26px, 22px + 1vw, 32px) !important;
  font-weight: 700;
  display: flex;
  margin-bottom: 16px;
}
#trade-section .currency-name .currency-symbol {
  margin-left: 8px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 18px;
  color: rgb(189, 189, 189);
}
#trade-section .currency-description {
  color: rgb(130, 130, 130);
  margin-bottom: 25px;
  font-size: 16px;
}
#trade-section .start-button {
  animation: selectedButton 3s ease-in-out 2;
  border: 2px solid rgba(43, 7, 110, 0.3);
  height: 64px;
  width: 64px;
  background-color: white;
  border-radius: 50%;
}
#trade-section .start-button i {
  font-size: x-large;
  color: #3671E9;
}
#trade-section .start-button-activated {
  display: none;
  width: 205px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  padding: 16px 16px 16px 24px;
}
#trade-section .start-button-activated .start-button {
  border: none;
  height: 32px;
  width: 32px;
  margin-left: 24px;
}
#trade-section .start-button-activated .start-button i {
  font-size: small;
}

#market-section {
  z-index: 1;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #2B076E;
  padding-top: 100px;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
#market-section #background-cercle {
  width: 6vw;
  height: 6vw;
  min-width: 300px;
  min-height: 300px;
  left: 13vw;
  top: -200px;
  border-radius: 50%;
  background-color: rgba(55, 20, 118, 0.4);
  position: absolute;
}
#market-section h3 {
  margin-bottom: 100px;
  max-width: 758px;
}
#market-section #invest-smart-section {
  display: flex;
  margin-bottom: 250px;
}
#market-section .market-section-explanation {
  text-align: left;
  max-width: 454px;
  line-height: 28px;
}
#market-section .market-section-explanation div:nth-child(2) {
  max-width: 408px;
  margin-top: 24px;
}
#market-section #invest-smart-section-figure {
  font-family: "Inter", sans-serif;
  padding: 40px;
  background-color: #35068C;
  height: 298px;
  min-width: 500px;
  width: 50vw;
  margin-left: 146px;
  border-radius: 16px;
  position: relative;
}
#market-section #figure-header {
  margin-bottom: 24px;
}
#market-section #figure-header #bitcoin-section {
  display: flex;
  width: 155px;
}
#market-section #figure-header #btc-img img {
  width: 40px;
  height: 40px;
}
#market-section #figure-header #btc-value {
  margin-left: 16px;
  text-align: left;
}
#market-section #figure-header #btc-value div:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  display: flex;
}
#market-section #figure-header #btc-value div:nth-child(1) span {
  font-size: 16px;
  font-weight: 600;
  color: rgb(207, 207, 207);
  margin-left: 5px;
  margin-top: 5px;
}
#market-section #figure-header #btc-value div:nth-child(2) {
  color: #F2F2F2;
  font-size: 14px;
  font-weight: 400;
}
#market-section #figure-header #percent {
  font-size: 14px;
  font-weight: 500;
  color: rgb(66, 255, 255);
}
#market-section #graphiq-image {
  width: 100%;
  height: 136px;
}
#market-section #graphiq-image img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
#market-section #progress-percent {
  border-radius: 16px;
  position: absolute;
  left: 64px;
  bottom: -126px;
  height: 184px;
  max-width: 178px;
  background-color: #491F98;
  padding: 24px 16px 24px 16px;
}
#market-section #progress-percent div:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
#market-section #progress-percent div:nth-child(2) {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#market-section #progress-percent div:nth-child(2) i {
  font-size: large;
  margin-left: 7px;
  color: #FD8589;
}
#market-section #progress-percent div:nth-child(3) {
  font-weight: 400px;
  font-size: 16px;
}
#market-section #price {
  border-radius: 16px;
  position: absolute;
  bottom: -41px;
  right: 78px;
  height: 84px;
  background-color: #491F98;
  padding: 16px 32px 16px 32px;
}
#market-section #price div:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 4px;
}
#market-section #price div:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
}

#detailed-statistics-section {
  display: flex;
}
#detailed-statistics-section .detailed-statistics-session {
  margin-left: 91px;
}
#detailed-statistics-section #detailed-statistics-section-figure {
  position: relative;
  min-width: 600px;
  width: 62vw;
}
#detailed-statistics-section #detailled-statistic-figure-header {
  padding-right: 100px;
  border-radius: 0px 16px 16px 0px;
  text-align: left;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #35068C;
  width: 100%;
  padding: 16px 16px 16px 16px;
  height: 100px;
  margin-bottom: 16px;
}
#detailed-statistics-section #detailled-statistic-figure-header #trends {
  display: flex;
}
#detailed-statistics-section #detailled-statistic-figure-header #trends #trends-icon {
  margin-right: 10px;
  height: 24px;
  width: 24px;
  font-size: small;
  border-radius: 50%;
  background-color: #361f98;
  color: #42ffff;
  margin-top: -2px;
}
#detailed-statistics-section #detailled-statistic-figure-header #trends #trends-percent div:nth-child(1) {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin-bottom: 6px;
}
#detailed-statistics-section #detailled-statistic-figure-header #trends #trends-percent span {
  font-weight: 500;
  color: #42ffff;
}
#detailed-statistics-section #detailled-statistic-figure-header #trends #trends-percent div:nth-child(2) {
  font-size: 14px;
}
#detailed-statistics-section #detailled-statistic-figure-header .detailled-statistic-item div:nth-child(1) {
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin-bottom: 8px;
}
#detailed-statistics-section #detailled-statistic-figure-header .detailled-statistic-item div:nth-child(2) {
  font-size: 14px;
  color: #e0e0e0;
}
#detailed-statistics-section #detailled-statistic-figure-header .detailled-statistic-item:nth-child(5) {
  display: flex;
  align-items: center;
  font-weight: 700 !important;
}
#detailed-statistics-section #detailled-statistic-figure-header .detailled-statistic-item:nth-child(5) #avatar {
  margin-top: 8px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 16px;
}
#detailed-statistics-section #detailled-statistic-figure-header .detailled-statistic-item:nth-child(5) #avatar img {
  border-radius: 50%;
}
#detailed-statistics-section #detailled-statistic-figure-header .detailled-statistic-item:nth-child(5) #avatar-name {
  font-size: 28px;
  font-family: "Inter", sans-serif;
}
#detailed-statistics-section #detailled-statistic-figure-header .detailled-statistic-item:nth-child(5) #avatar-name div:nth-child(2) {
  color: #6edcb5;
}
#detailed-statistics-section #detailed-statistics-figure-header-2 {
  text-align: left;
  padding: 24px 24px 16px 24px;
  padding-top: 24px;
  padding-right: 24px;
  background-color: #35068C;
  border-radius: 0px 16px 0px 0px;
}
#detailed-statistics-section #detailed-statistics-figure-header-2 #symbol {
  display: flex;
  align-items: center;
}
#detailed-statistics-section #detailed-statistics-figure-header-2 #symbol div:nth-child(1) {
  font-size: 18px;
  margin-right: 10px;
  font-weight: 700;
}
#detailed-statistics-section #detailed-statistics-figure-header-2 #symbol div:nth-child(2) {
  height: 24px;
  width: 24px;
  font-size: small;
  border-radius: 50%;
  background-color: #361f98;
}
#detailed-statistics-section #detailed-statistics-figure-header-2 #buy-sell-button div {
  font-size: 16px !important;
}
#detailed-statistics-section #detailed-statistics-figure-header-2 #buy-sell-button div:nth-child(1) {
  background-color: #6edcb5;
  margin-right: 24px;
}
#detailed-statistics-section #detailed-statistics-figure-header-2 #buy-sell-button div:nth-child(2) {
  background-color: #ff325f;
}
#detailed-statistics-section #detailed-statistics-figure {
  background-color: #35068C;
  padding: 0px 24px 0px 16px;
  width: 100%;
  height: 350px;
}
#detailed-statistics-section #detailed-statistics-figure img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
#detailed-statistics-section #last-price {
  margin-right: 50px;
}
#detailed-statistics-section .detailed-statistics-figure-header-2-item {
  font-family: "Rubik", sans-serif;
  position: relative;
}
#detailed-statistics-section .detailed-statistics-figure-header-2-item div:nth-child(1) {
  font-size: 18px;
  margin-bottom: 8px;
}
#detailed-statistics-section .detailed-statistics-figure-header-2-item div:nth-child(2) {
  font-size: 14px;
}
#detailed-statistics-section .detailed-statistics-figure-header-2-item div:nth-child(3) {
  color: #42ffff;
  top: 50%;
  left: 80px;
  position: absolute;
  transform: translateY(-50%);
}

#grow-profit-section {
  position: relative;
  border-radius: 16px;
  margin-top: 129px;
  margin-bottom: 129px;
}
#grow-profit-section #grow-profit-section-figure {
  margin-left: 110px;
  min-width: 400px;
  width: 53vw;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 40px 0px 40px 0px;
  background-color: #35068C;
  border-radius: 16px;
}
#grow-profit-section .grow-profit-section-figure-stat {
  line-height: 19.36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#grow-profit-section .grow-profit-section-figure-stat:nth-child(2) {
  width: 100%;
  padding: 16px 0px 16px 10px;
  background-color: #4610AD;
  border-radius: 16px;
  margin-left: -72px;
  margin-bottom: 24px;
  margin-top: 24px;
  align-items: center;
}
#grow-profit-section .bitcoin-logo {
  margin-top: 35px;
}
#grow-profit-section .grow-profit-section-figure-logo {
  display: flex;
  align-items: center;
}
#grow-profit-section .grow-profit-section-figure-logo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#grow-profit-section .grow-profit-section-figure-logo .logo-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#grow-profit-section .grow-profit-section-figure-logo .logo-container i {
  font-size: x-large;
}
#grow-profit-section .grow-profit-section-figure-logo .eth-container {
  background-color: #6374C3;
}
#grow-profit-section .grow-profit-section-figure-logo .ltc-container {
  background-color: #59C19C;
}
#grow-profit-section .grow-profit-section-figure-logo .currency-name {
  text-align: left;
  font-weight: 700;
  margin-left: 16px;
  font-size: clamp(26px, 22px + 1vw, 32px) !important;
}
#grow-profit-section .grow-profit-section-figure-logo .currency-name div {
  color: #F2F2F2;
  font-size: 16px;
  margin-top: 8px;
}
#grow-profit-section .carret-container {
  display: flex;
  align-items: center;
  color: #8FFFBE;
}
#grow-profit-section .carret-container div {
  margin-right: 8px;
  background-color: rgba(143, 255, 190, 0.1);
  width: 16px;
  height: 16px;
  font-size: x-small;
  border-radius: 50%;
}
#grow-profit-section .danger {
  color: #FF7676 !important;
}
#grow-profit-section .danger div {
  background-color: rgba(255, 118, 118, 0.1) !important;
}
#grow-profit-section .currency-details {
  text-align: left;
  margin-bottom: 14px;
  font-weight: 400;
}
#grow-profit-section .currency-details span {
  font-weight: 600;
  display: block !important;
  margin-bottom: 30px;
}

#subscribe-section-container {
  height: 392px;
  width: 100%;
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
}

#subscribe-section {
  background-color: #3671E9;
  min-height: 216px;
  width: 83vw;
  padding: 48px;
  text-align: left;
  border-radius: 16px;
}
#subscribe-section #subscribe-now-section {
  max-width: 348px;
}
#subscribe-section #subscribe-now-section div:nth-child(1) {
  font-size: 32px !important;
  margin-bottom: 16px;
}
#subscribe-section input::placeholder {
  padding-left: 0px;
  color: white;
}
#subscribe-section input {
  caret-color: white;
  color: white;
  width: 375px;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 8px;
  outline: none;
  background-color: transparent;
}
#subscribe-section #subscribe-button {
  max-width: 556px;
}
#subscribe-section #subscribe-button div {
  margin-left: 40px;
  width: 152px;
  height: 55px;
  background-color: white;
  color: black;
  padding: 14px 32px 14px 32px;
  border-radius: 32px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

footer {
  margin: 0px !important;
  padding: 80px 10vw 80px 10vw;
  background-color: #0D0D2B;
  font-family: "Rubik", sans-serif;
  text-align: left;
}
footer #footer-item-list-container {
  display: flex;
  align-items: center;
}
footer > div:first-child {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
footer .footer-item-list {
  width: 200px;
}
footer .footer-item-list h6 {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 30px;
  margin-bottom: 24px;
  font-weight: 500;
}
footer .footer-item-list div {
  margin-bottom: 16px;
}
footer .footer-item-list div :hover {
  color: #3671E9;
  cursor: pointer;
}
footer #payment-section {
  font-weight: 500;
  font-size: clamp(26px, 22px + 1vw, 32px) !important;
  width: 355px;
}
footer #payment-section #payment-mode {
  margin-top: 40PX;
}
footer #payment-section #payment-mode div {
  width: 96px;
  height: 84px;
  border-radius: 16px;
  background-color: #181834;
}
footer .footer-social-media {
  margin-top: 120px;
}
footer .footer-social-media div:nth-child(2) {
  width: 150px;
}
footer .footer-social-media i {
  color: white;
}
footer .footer-social-media i:hover {
  color: #1181E8;
  font-size: larger;
}

@media (max-width: 1000px) {
  #grow-profit-section, #main-section, #stat-section, #invest-smart-section, #why-section {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .market-section-explanation {
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    flex-direction: column;
    text-align: center !important;
    justify-content: center;
    align-items: center;
  }
  #detailed-statistics-section {
    flex-wrap: wrap-reverse;
    justify-content: center !important;
  }
  #login-section {
    left: 10vw;
    position: absolute;
    margin-left: 30px;
    top: 150px;
  }
  #stat-section, #illustration {
    margin-bottom: 0px;
  }
  .stat-item {
    margin-bottom: 24px;
  }
  #illustration-container {
    margin-bottom: 24px;
  }
  #currency-container {
    justify-content: center !important;
  }
  #currency-container .currency {
    margin-bottom: 24px;
  }
  #invest-smart-section-figure, #detailed-statistics-section-figure, #grow-profit-section-figure {
    margin-left: 0px !important;
    margin-top: 50px;
  }
  #payment-section {
    margin-top: 50px;
  }
  #subscribe-section {
    width: 492px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #subscribe-section #subscribe-button {
    margin-top: 50px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #subscribe-section #subscribe-button div {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=crappos.css.map */
